*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

body {
    color: black;
    background-color:white;
    font-weight: 400;
    background-image: url(in3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('in3.jpeg') left/cover no-repeat;
     background-position: right; 
     /* border: 1px solid #333; */
}

/* NAVIGATION BAR */
.container {
    padding: 2px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 80px blue;
    padding: 24px;
}

.nav-bar h2 {
    font-size: 30px;
    color: white;
}

.nav-bar .container-1{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.container-1{
    font-family: Arial, Helvetica, sans-serif;
    /* background: white; */
    padding: 40px;
    display: flex;
    justify-content: flex-end;
}

.profile{
    position: relative;
}

.dropdown-btn{
     background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold; 
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    color: white;
}

#toggle{
    display: none;
}


.dropdown{
    position: absolute;
    top: 30px;
    right: 0;
    background: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px black; 
    width: 150px;
    display: none;
    flex-direction: column;
    padding: 10px 0;
}

.dropdown a{
    padding: 10px 20px;
    text-decoration: none;
    color: #333; 
    display: block;
}

 .dropdown a:hover {
    background-color: #f0f0f0;
} 

#toggle:checked + .dropdown-btn + .dropdown {
    display: flex;
} 

.sec .come{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px;
    border-radius: 20px;
    background-color: white;
    margin-left: 360px;
    margin-right: 360px;
    /* margin-top: 20px; */
     /* padding: 20px;  */
    height: 75vh;
    padding-bottom: -10px;
}

.come img{
    margin-top: -50px;
    padding-bottom: 20px;
}

.come h3{
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.come h6{
    font-size: 15px;
    padding-bottom: 20px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.be-gin{
     display: block;
    text-decoration: none;
    /* color: white; */
     border-radius: 20px;
    padding:12px 10px ; 
    background-color: white;
    color: #000; 
    margin-right: 14px;
    border: 0.2px solid #000;
    font-size: 15px;
    background-color:whitesmoke;  
    margin-left: 30px;
    width: 60%; 
    /* background-color: blue; */
    border: 0;
    margin-top: 20px;
    margin-bottom: -10px;

    
}

.be-gin:hover{
    background-color: #1DA1F2;
    color: #fff;
} 